{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="wrapper-main">
	
    
	
	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3"> Register With Us </h1>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{% url 'index' %}">Home</a>
					</li>
					<li class="breadcrumb-item active">Register With Us</li>
				</ol>
			</div>
		</div>
	</div>

    <div class="contact-main">
		<div class="container">
			<!-- Content Row -->
		  <div class="row">
			<!-- Map Column -->
				<div class="col-lg-8 mb-4 contact-left">
					<h3>Send us a Message</h3>
					<form action={% url 'registered_students' %} method="POST" >
						{% csrf_token %}
						<div class="control-group form-group">
							<div class="controls">
								<input name="Name" type="text" placeholder="Full Name" class="form-control" id="" required data-validation-required-message="Please enter your name.">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group form-group">
							<div class="controls">
								<input name="Mobile_no" type="tel" placeholder="Phone Number" class="form-control" id="" required data-validation-required-message="Please enter your phone number.">
							</div>
						</div>
						<div class="control-group form-group">
							<div class="controls">
								<input name="Email" type="email" placeholder="Email Address" class="form-control" id="" required data-validation-required-message="Please enter your email address.">
							</div>
						</div>
						<div class="control-group form-group">
                            <label class="mr-sm-2" for="inlineFormCustomSelect">Select Plan</label>
                            <select name="Plan" class="custom-select mr-sm-2"  id="class" required data-validation-required-message="Please select your required plan.">
                              
                              <option value="Beginner">Beginner Class</option>
                              <option value="Master">Master Class</option>
							  <option value="Mentorship">Mentorship</option>
                            
                            </select>
                          </div>
						<div id="success"></div>
						<!-- For success/fail messages -->
						<button type="submit" class="btn btn-primary">Register</button>
					</form>
				</div>
				<!-- Contact Details Column -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>


</div>
{% endblock content %}
